/* general styles {{{ */
body {
  line-height: 1.2;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000;
  background-color: #ddd;
  margin: 0;
}
h1 {
  font-size: 32pt;
}

.page-wrapper {
  padding: 1px 40px;
}

input[type=text], input[type=password] {
  border: 1px solid #ccc;
  background: #eee;
  box-shadow: inset 0  -1px 0   rgba(255,255,255,0.8),
              inset 0 2px 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 3px;
  padding-left: 5px;
}

input[type=submit] {
  border: 1px solid #444;
  background: #444;
  padding: 3px 8px;
  border-radius: 10px;
  color: #eee;
  box-shadow: inset 0  1px 0   rgba(255,255,255,0.5),
              inset 0 -4px 6px rgba(0,0,0,0.1);
  /* text-shadow: 0 1px 0 rgba(255,255,255,0.45); */
}

form {
  margin-bottom: 0;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 20;
}
  .modal-content {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background: #fff;
    padding: 10px 30px 20px 40px;
    border-radius: 10px;
  }
  .modal-content h2 {
    border-bottom: 1px solid #ddd;
  }
  .modal-content input, label {
    display: block;
    margin-top: 15px;
  }
  .modal-error {
    color: #a00;
    float: right;
  }

.btn {
  cursor: pointer;
}

.btn:hover {
  color: #777;
}

/* }}} */


/* .card and related {{{ */
.card {
  color: black;
  font-size: 14pt;
  width: 160px;
  height: 212px;
  background: #fff;
  padding: 15px 15px;
  border-radius: 10px;
  float: left;
  box-shadow: 1px 3px 6px #aaa;
  margin: 10px;
  position: relative;
}
  .black-card {
    background: #000;
    color: #fff;
  }
  .card-selected {
    box-shadow: 0 0 10px #7af;
  }
  .card-transparent {
    background: none;
    box-shadow: none;
    color: #777;
  }
  .card-transparent:hover {
    color: #555;
  }
  .card-transparent p {
    font-size: 28pt;
    position: absolute;
    text-align: center;
    width: 80%;
    line-height: 116px;
  }

  .add-game {
    font-size: 168px;
    text-align: center;
  }
/* }}} */


/* .game and related {{{  */
  /* card-area {{{ */
  .card-area {
    float: left;
    width: 75%;
  }
    .top-row {
      overflow: hidden;
    }
    .bottom-row {
      overflow: hidden;
      position: relative;
    }
  /* }}} */

  .czar-overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 28pt;
    text-align: center;
    line-height: 200px;
    padding: 15px 15px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8);
    color: #666;
    position: absolute;
    z-index: 10;
    display: none;
  }

  /* user-area {{{ */
  .user-area {
    float: right;
    width: 25%;
    height: 50%;
  }
    /* .user and related {{{ */
    .user {
      padding: 4px 0;
      padding-left: 21px;
      overflow: hidden;
    }
      .user-name  { float: left; }
      .user-score { float: right; }
    .user.me {
      color: #888;
    }
    .user.czar {
      padding-left: 0px;
    }
    .czar:before {
      content: url('crown.png');
      margin-right: 5px;
      float: left;
    }
    /* }}} */

    /* .chat and related {{{ */
    .chat {
      padding: 0 10px;
      font-weight: normal;
      color: black;
      font-size: 12pt;
      width: 90%;
      height: 212px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 1px 3px 6px #aaa;
      margin: 10px;
      height: 100%;
      position: relative;
      overflow: hidden;
    }
    .chat-lines {
      overflow-y: scroll;
      position: absolute;
      top: 20px;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 20px 15px;
    }
      .chat-line {
        padding: 4px 0;
        font-size: 14px;
      }
        .chat-line:nth-child(odd) {
          background-color: #eee;
        }
      .chat-input-wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
      }
        .chat-input {
          width: 94%;
          margin: 0 auto;
          margin-bottom: 8px;
        }
          .chat-input-text {
            width: 100%;
          }
    .chat h2 {
      margin: 0;
      padding: 5px 0;
    }
    /* }}} /*
  /* }}} */
/* }}} */

/* vim: set foldmethod=marker: */
